@charset "UTF-8";
/*Author: Ashley Rose
    Date: January 30th ////// UPDATED April 10th, 2025
    */
body{

    background-color:rgb(112, 128, 144);
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

img{
border-radius: 10px solid;
width: 350px;
padding: 2em;
height: auto;
border-color: antiquewhite;

}


h1{color: lightblue;
    text-decoration: underline;
    font-size: large;
padding-top: 0.5em;
text-align: center;
font-family: 'Courier New', Courier, monospace;}

h2{color: lightblue;
   text-decoration: none;
    font-size: large;
padding-top: 2em;
text-align: justify;
font-family: 'Courier New', Courier, monospace;}

nav a{text-decoration: none;}

nav{font-family: 'Courier New', Courier, monospace;
font-size: large;
padding-top: 2em;}

 p{color:white;
font-size: large;}

table, th, tr, td{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
   font-size: large;
    color: white;
    margin-left: auto;
    margin-right: auto;
}


div h2{
 text-align: center;

}

li{
    text-align: justify;
    color: white;
    padding: 0.5em;
    font-size: large;
    font-weight: lighter;
}

dl{
    text-align: justify;
    font-size: medium;
    
}

dt{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    color: rgb(18, 9, 148);
}

dd{
    color: white;
    font-size: large;
    padding-bottom: .5em;
    text-align: center;
}

#aboutMe {
    text-align: center;
    text-decoration: underline;
}

#skill_description{
    text-align: center;
    
}

#skill{
    color:rgb(18, 9, 148);
    font-weight: bold;
}

#professionalSummary{
    font-size: large;
    background-color: darkblue;
}

#certificates  {
    float:inline-start;
    
}

#imagedescription{
    float: left;
    width: 50px;
    height: 50px;
}