@charset "UTF-8";
/*Author: Ashley Rose
    Date: January 30th
    */
body{
    background-color:lightblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif

}

h1{color:blue}

nav a{text-decoration: none;}

nav{font-family: 'Courier New', Courier, monospace;}

 h1{text-decoration: underline;}

 p{color:darkmagenta}