@charset "UTF-8";
/*Author: Ashley Rose
    Date: January 30th ////// UPDATED April 10th, 2025
    */
body{

    background-color:rgb(41, 37, 37);
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

img{
border-radius: 2px solid;
width: 350px;
padding: 2em;
height: auto;
border-color: antiquewhite;


}


h1{color: lightblue;
    text-decoration: underline;
    font-size: x-large;
padding-top: 0.5em;
text-align: center;
font-family: 'Courier New', Courier, monospace;}

h2{color: lightblue;
   text-decoration: underline;
    font-size: x-large;
padding-top: 2em;
text-align: center;
font-family: 'Courier New', Courier, monospace;}

nav a{text-decoration: none;}

nav{font-family: 'Courier New', Courier, monospace;
font-size: x-large;
padding-top: 2em;}

 p{color:white;
font-size: large;}



